.success{
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  color: green;
  font-size: 15px;
  background: lightgrey;
  margin-bottom: 10px;
}
.error{
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  color: red;
  font-size: 15px;
  background: lightgrey;
  margin-bottom: 10px;
}
